/* ========================================================================== */
/* FONT FACES */
/* ========================================================================== */
@font-face {
  font-family: "Gopher Regular";
  src: url("../fonts/Gopher/Gopher-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Gopher Bold";
  src: url("../fonts/Gopher/Gopher-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Light";
  src: url("../fonts/Helvetica/HelveticaNeue-Light.otf");
  font-weight: 300;
}

/* ========================================================================== */
/* GLOBAL */
/* ========================================================================== */
:root {
  /* Color palette */
  --background-color: #f7f7f7;
  --orange: #ff871e;
  --light-grey: #e8dfdf;
  --purple: #554595;
  --red: #dc1e19;
  --yellow: #ebc015;
  --black: #000000;
  --white: #ffffff;
  --pink: #ec6ea6;
  --blue: #5bc5f2;
  --green: #49b070;
}

/* Normalize margin and padding to ease elements positioning */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--black);
  font-family: sans-serif;
}

#container {
  background-color: var(--background-color);
}

header {
  padding: 30px 20px 22px 20px;
}

h1 {
  font-size: 28px;
  font-family: "Gopher Bold";
  line-height: 35px;
  text-align: center;
}

h2 {
  font-size: 22px;
  font-family: "Gopher Regular";
  line-height: 22px;
  text-align: center;
  color: var(--black);
}

h3 {
  text-align: center;
  font-family: "Helvetica Light";
  font-size: 13px;
  line-height: 15px;
  font-style: italic;
  font-weight: 300;
}

p {
  font-family: "Helvetica Light";
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  padding: 0px 50px;
}

/* ========================================================================== */
/* SWIPER */
/* ========================================================================== */
.swiper {
  width: 100%;
  height: 100%;
}

.scroll-swiper .swiper-slide {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: auto;
  padding: 0px 0px 20px 0px;
}

.swiper-pagination {
  --swiper-pagination-right: auto;
  --swiper-pagination-left: 0px;
  --swiper-pagination-bullet-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  width: 30px;
}

/* ========================================================================== */
/* SLIDE 1 */
/* ========================================================================== */
#personnage-victoire {
  width: 550px;
  height: 422px;
}

#sous-titre {
  font-size: 22px;
  line-height: 28px;
  color: var(--blue);
  text-align: center;
}

#logo-disposition {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 103px;
}

#paragraphe-slide1 {
  color: var(--blue);
  font-size: 22px;
}

/* ========================================================================== */
/* SLIDE 2 */
/* ========================================================================== */
#slide2 .victoire-gif {
  width: 100%;
  height: auto;
  position: relative;
  top: -200px;
}

#slide2 header h1 {
  color: var(--blue);
}

/* ========================================================================== */
/* SLIDE 3 */
/* ========================================================================== */
#slide3 header h1 {
  color: var(--pink);
}

/* ========================================================================== */
/* SLIDE 4 */
/* ========================================================================== */
#slide4 header h1 {
  color: var(--yellow);
}

#slide4 p:nth-child(2) {
  color: var(--yellow);
}

/* ========================================================================== */
/* SLIDE 5 */
/* ========================================================================== */
#slide5 header h1 {
  color: var(--red);
}

#slide5 > p {
  color: var(--red);
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  padding-top: 20px;
}

#slide5 .tevi {
  position: relative;
  align-content: center;
}

/* ========================================================================== */
/* SLIDE 6 */
/* ========================================================================== */
#slide6 header h1 {
  color: var(--purple);
}

/* ========================================================================== */
/* SLIDE 7 */
/* ========================================================================== */
#slide7 header h1 {
  color: var(--green);
}
#slide7 .drawer h1 {
  color: var(--green);
  padding-top: 40px;
  padding-left: 20px;
}

#slide7 .drawer h3 {
  padding-top: 40px;
  padding-left: 20px;
}
/* ========================================================================== */
/* SLIDE 8 */
/* ========================================================================== */
#slide8 header h1 {
  color: var(--green);
}

/* ========================================================================== */
/* SLIDE 9 */
/* ========================================================================== */
#slide9 header h1 {
  color: var(--orange);
}

#bilan-paragraph {
  color: var(--orange);
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  padding-top: 20px;
}

/* ========================================================================== */
/* SLIDE 10 */
/* ========================================================================== */
/* TODO */

/* ========================================================================== */
/* DRAWER */
/* ========================================================================== */
.drawer {
  position: absolute;
  bottom: 30px;
  height: calc(100vh - 60px);
  width: calc(100vw - 50px);
  left: 100vw;
  background-color: var(--white);
  z-index: 20;
}

.drawer-button {
  position: absolute;
  right: 100%;
  width: 20px;
  top: 0;
  bottom: 0;
  border: none;
  border-radius: 10px 0px 0px 10px;
  box-shadow: -4px 0 1px rgba(0, 0, 0, 0.05);
  background-color: var(--white);
  cursor: pointer;
}

/* Bon article pour comprendre comment z-index marche: */
/* https://philipwalton.com/articles/what-no-one-told-you-about-z-index/ */
.overlay {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
}

/* ========================================================================== */
/* LOADER */
/* ========================================================================== */
/* Source: https://cssloaders.github.io/ */
#loader {
  z-index: 2;
  position: absolute;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#loader-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#loader-img {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
  animation: wave 1s ease-in infinite;
  display: block;
  margin: auto;
}

@keyframes wave {
  0% {
    box-shadow:
      0 0 0 0px rgba(20, 20, 20, 1),
      0 0 0 20px rgba(20, 20, 20, 0.8),
      0 0 0 40px rgba(20, 20, 20, 0.6),
      0 0 0 60px rgba(20, 20, 20, 0.4),
      0 0 0 80px rgba(20, 20, 20, 0.2);
  }
  100% {
    box-shadow:
      0 0 0 80px rgba(20, 20, 20, 0.2),
      0 0 0 60px rgba(20, 20, 20, 0.4),
      0 0 0 40px rgba(20, 20, 20, 0.6),
      0 0 0 20px rgba(20, 20, 20, 0.8),
      0 0 0 0px rgba(20, 20, 20, 1);
  }
}

/* ========================================================================== */
/* MEDIA QUERIES */
/* ========================================================================== */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container {
  position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/
  height: 100%; /* even on mobile devices with url or navigation bars */
  margin-left: calc(
    (100vw - 100 * 3vh / 4) / 2
  ); /* Add black bands on left and right */
  width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body {
  font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
  #container {
    margin-left: 0; /* reset margin-left */
    width: 100vw; /* content is full width (and full height because of the default rule for container height */
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to content width */
  body {
    font-size: 15vw;
  }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */
@media screen and (max-aspect-ratio: 9/16) {
  #container {
    margin-left: 0; /* reset left margin */
    width: 100vw; /* content is full width */
    margin-top: calc(
      -50 * 16vw / 9
    ); /* move the content half the height to the top */
    top: 50%; /* then center it ! */
    height: calc(
      100 * 16vw / 9
    ); /* adjust height so that aspect ratio is 9/16 */
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to content width */
  body {
    font-size: 15vw;
  }
}
