/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

@font-face {
  font-family: "Gopher";
  src: url("../data/font/GopherText-Light.ttf");
}

/* Normalize margin and padding to ease elements positioning */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  overflow: hidden; /* to avoid slider bugs on some browsers */
  font-family: sans-serif;
}

section {
  background-color: #f7f7f7;
}

h1 {
  font-size: 28px;
  line-height: 35px;
}

h2 {
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin: 0px;
}

p {
  font-family: Helvetica;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
}

#personnage-victoire {
  width: 550px;
  height: 422px;
}


#sous-titre {
  font-size: 22px;
  line-height: 28px;
  color: #5bc5f2;
  text-align: center;
}

#pink-title {
  color: #ed6ea7;
}

.title {
  text-align: center;
}

#slide2 .title{
  color: #5bc5f2;
}
#slide3 .title{
  color: #ED6EA7;
}

#slide4 .title{
  color: #FADC00;
}

#slide5 .title{
  color: #E6331B;

}

#slide6 .title{
  color: #554596;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Il faut toutes les propriétés ci-dessous pour que l'évènement toEdge */
  /* de Swiper fonctionne (oui, y compris le padding différent de 0!). */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: auto;
}

/* -------------- Drawer --------------*/

.drawer {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 90vw;
  right: -90vw;
  background: #2f2f2f;
  font-size: 25%;
  z-index: 20;
}

.drawer-button {
  position: absolute;
  right: 100%;
  height: 60px;
  width: 20px;
  background: red;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* center vertically */
  top: 0;
  bottom: 0;
  margin: auto 0;
}

/* -------------- Slide 2022 : Tour de france----------*/

#date2022 {
  color: #49B170;
  text-align: center;
}
#paragraph2022{
  color: #49B170;
  font-size: 22px;
  line-height: 28px;;
  text-align: center;
}
#text2022{
  padding-top: 20px;
}
/* -------------- Overlay --------------*/

.overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 25%;
}

/* -------------- Loader --------------*/
#loader {
  z-index: 2;
  position: absolute;
}

#loader-img {
  top: 40%;
  left: 40%;
  position: absolute;
}

#loader-text {
  text-align: center;
  font-size: 25%;
  position: absolute;
  top: 60%;
  width: 100%;
}
/* -------------- End of Loader --------------*/

/* Swiper slider. Need to fill the container */
#mySwiper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.swiper-pagination {
  --swiper-pagination-right: auto;
  --swiper-pagination-left: 8px;
  --swiper-pagination-bullet-vertical-gap : 10px;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
  background-color: #FFA04B !important;
}

/* the slides and the loader should fill the whole 9:16 zone */
#loader {
  background-color: dodgerblue;
  width: 100%;
  height: 100%;
}

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container {
  position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/
  height: 100%; /* even on mobile devices with url or navigation bars */
  margin-left: calc(
    (100vw - 100 * 3vh / 4) / 2
  ); /* Add black bands on left and right */
  width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body {
  font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
  #container {
    margin-left: 0; /* reset margin-left */
    width: 100vw; /* content is full width (and full height because of the default rule for container height */
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to content width */
  body {
    font-size: 15vw;
  }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */
@media screen and (max-aspect-ratio: 9/16) {
  #container {
    margin-left: 0; /* reset left margin */
    width: 100vw; /* content is full width */
    margin-top: calc(
      -50 * 16vw / 9
    ); /* move the content half the height to the top */
    top: 50%; /* then center it ! */
    height: calc(
      100 * 16vw / 9
    ); /* adjust height so that aspect ratio is 9/16 */
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to content width */
  body {
    font-size: 15vw;
  }
}
