/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 16/9 and 4/3 (landscape orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  overflow: hidden; /* to avoid slider bugs on some browsers */
  font-family: sans-serif;
}

/* -------------- Loader --------------*/
#loader {
  z-index: 2;
  position: absolute;
}

#loader-img {
  top: 40%;
  left: 45%;
  position: absolute;
}

#loader-text {
  text-align: center;
  font-size: 25%;
  position: absolute;
  top: 60%;
  width: 100%;
}
/* -------------- End of Loader --------------*/

/* Swiper slider. Need to fill the container */
#mySwiper {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
  background-color: white !important;
}

/* the slides and the loader should fill the whole 16:9 zone */
.swiper-wrapper section,
#loader {
  background-color: dodgerblue;
  width: 100%;
  height: 100%;
}

/* Most of the elements in this demo are absolute positioned with percentages or em (to scale with content height) */
#first-slide header,
#second-slide header {
  text-align: center;
  width: 100%;
  top: 10%;
  position: absolute;
  font-size: 30%;
  z-index: 2;
}

#logo-hyblab {
  text-align: center;
  width: 8em; /* must be related to font size to scale with the content height */
  left: 50%; /* to center the logo, in interaction with margin-left */
  top: 40%;
  margin-left: -4em; /* this is -width / 2 */
  position: absolute;
  font-size: 50%;
  z-index: 2;
  cursor: pointer;
}

/* Last slide image is centered */
#img-fini {
  width: 4em; /* must be related to font size to scale with the content height */
  left: 50%; /* to center the logo, in interaction with margin-left */
  top: 25%;
  position: absolute;
  margin-left: -2em; /* this is -width / 2 */
}

main > section {
  background-image: url("../img/background.svg");
  background-size: auto 350%; /* adjust image height so that if fills the whole width event at 16/9 aspect ratio */
  background-position: bottom; /* background is bottom aligned */
}

/* Footer of last slide is at the bottom and content is centered */
#first-slide footer {
  bottom: 5%;
  position: absolute;
  box-sizing: border-box; /* So that padding is not added to width (and width: 100% works) */
  width: 100%; /* could also use  width: calc(100% - 2em) if not using box-sizing */
  font-size: 20%;
  text-align: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}

/* ---------- Positioning of logos on the last slide -------------------- */
/* here we have a contraint on the height of the logos (not the width)     */
/* so we cannot use % and use em (which are proportional to the size of the */
/* slide because of body's font size rule at the end of this CSS           */
#bandeau {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  font-size: 20%;
}

#bandeau li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
}

#bandeau img {
  height: 1.5em;
}

#bandeau #hyblab {
  margin: 1em auto;
  height: 2em;
  display: block;
}

#bandeau #cc,
#bandeau #opensource {
  height: 1em;
}

#bandeau .stacked {
  display: block;
}

#bandeau ul {
  text-align: center;
  padding: 0 0;
  margin: 0.5em auto;
}

#bandeau .institutionnel {
  height: 2em;
}

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 4/3 and 16/9. If not it is locked to either 4/3 or 19/9  */

/* When the aspect ratio is smaller that 4/3, display a 4/3 content */
#container {
  position: relative; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/
  margin-top: calc(
    (100vh - 100 * 3vw / 4) / 2
  ); /* Add black bands on top and bottom */
  height: calc(100 * 3vw / 4); /* Force 4/3 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content height */
body {
  font-size: calc(15vw * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 16/9 and 4/3 */
@media screen and (min-aspect-ratio: 4/3) {
  #container {
    margin-top: 0; /* reset margin-top */
    height: 100vh; /* content is full height (and full width because of the default rule for container width */
    width: 100vw; /* content is full width */
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to content height */
  body {
    font-size: 15vh;
  }
}

/* The content is displayed at 16/9 If the aspect ratio is higher that 16/9  */
@media screen and (min-aspect-ratio: 16/9) {
  #container {
    margin-top: 0; /* reset top margin */
    height: 100vh; /* content is full height */
    margin-left: calc(
      (100vw - (100 * 16vh / 9)) / 2
    ); /* move the content half the height to the left */
    width: calc(100 * 16vh / 9); /* adjust width so that aspect ratio is 9/16 */
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to content height */
  body {
    font-size: 15vh;
  }
}
